<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #buscador (keyup)="buscarHospital(buscador.value)" type="text" class="form-control" placeholder="Buscar hospital">

            </div>
        </div>
    </div>
</div>


<div class="row  animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button (click)="crearHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-outline-primary">
                        <i class="fa fa-plus"></i>
                        Crear Hospital
                    </button>
                </div>

                <h3 class="card-title">Hospitales registrados ( <small>{{totalHospitales}}</small> )</h3>
                <table class="table  table-striped">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img (click)="actualizarImagen( hospital )" class="img-50 pointer" [src]="hospital.img | imagen:'hospital'" alt="imagen de hospital">
                                <!-- (click)="mostrarModal(hospital._id)" -->
                            </td>
                            <td>
                                <input [(ngModel)]="hospital.nombre" type="text" name="nombre" class="form-control" placeholder="nombre del hospital">
                            </td>

                            <td>
                                <button (click)="guardarHospital( hospital )" class="btn btn-primary mr-1">
                                    <i class="fa fa-save"></i>
                                </button>

                                <button (click)="borrarHospital( hospital )" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarDesde(-10)" class="btn btn-secondary mr-1 ">
                    Anterior
                </button>

                <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                    Siguiente
                </button>

            </div>
        </div>
    </div>
</div>